<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="customTextMessageEncoding" type="   
Microsoft.ServiceModel.Samples.CustomTextMessageEncodingBindingSection,   
                  CustomTextMessageEncoder" />
      </bindingElementExtensions>
    </extensions>
    <bindings>
      <customBinding>
        <binding name="MyWebServiceBinding">
          <customTextMessageEncoding encoding="utf-8" messageVersion="Soap11" />
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://200.186.58.10/softexpert/webserviceproxy/se/ws/dc_ws.php"
          binding="customBinding" bindingConfiguration="MyWebServiceBinding"
          contract="WSGEDDocument.DocumentoPortType" name="DocumentoPort" />
    </client>
  </system.serviceModel>
</configuration>